{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 style="text-align: center">Inscription</h1>
    <br>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
                label: 'Adresse mail : '
        }) }}
    <br>
        {{ form_row(registrationForm.username, {
            label: 'Pseudo : '
        }) }}
    <br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe : '
        }) }}
    <br>
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Merci de cocher cette case inutile'
        }) }}
    <br>
    <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
